input,
select,
textarea {
  border: 1px solid var(--application-tertiary-color);
  border-radius: var(--application-border-radius);
  padding: 10px;
  background-color: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  outline: none;
  width: calc(100% - 20px);
  background-color: var(--application-white-color);

  &:placeholder {
    color: var(--application-tertiary-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus,
  &:hover {
    border-color: var(--application-primary-color);
  }

  &.error {
    border: 1px solid var(--application-error-color);
  }

}

.form-error-message {
  font-size: 12px;
  color: var(--application-error-color);
  margin: 0;
  font-style: italic;
}