:root {
  --application-primary-color: #49b5c9;
  --application-secondary-color: #d0e9ee;
  --application-tertiary-color: #7d8081;
  --application-primary-background-color: #dce8ea;
  --application-secondary-background-color: #f2f5f6;
  --application-white-color: #fefdfe;
  --application-border-radius: 10px;
  --application-error-color: #FF0038;
  --application-remove-button-color: #fdb5b8;
  --application-text-color: #212529;
  --application-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  ;
}