@import '@/styles/media-query.scss';

#resetPasswordMain {
  background-color: var(--application-secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  #resetPasswordCard {
    padding: 30px 20px;
    background-color: var(--application-white-color);
    width: 25%;
    border-radius: 15px;
    box-shadow: var(--application-box-shadow);

    .lockAuthImageWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }

    .resetPasswordForm {
      display: grid;
      grid-template-rows: auto;
      row-gap: 20px;

      .formHeading {
        margin: 0;
        font-size: 25px;
        text-align: center;
        color: var(--application-text-color);
      }

      .formText {
        margin: 0 0 25px 0;
        text-align: center;
        color: var(--application-tertiary-color);
        font-size: 14px;
      }

    }

    .spinnerContainer {
      display: flex;
      margin-bottom: 100px;
    }
  }
}

@include medium-screen {
  #resetPasswordMain {
    #resetPasswordCard {
      width: 50%;
    }
  }
}

@include small-screen {
  #resetPasswordMain {
    padding: 0 20px;

    #resetPasswordCard {
      width: 90%;
    }
  }
}