@import '@/styles/media-query.scss';

.navbarMain {
  padding: 30px 100px;

  .desktopNavbar {
    display: grid;
    grid-template-columns: max-content auto;
    justify-content: space-between;
    align-items: center;
  }

  .mobileNavbarContainer {
    display: none;

    .mobileNavbar {
      display: grid;
      grid-template-columns: max-content auto;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .menuControl {
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        background-color: var(--application-secondary-color);
        color: var(--application-primary-color);
        border-radius: 5px;
        font-size: 17px;
      }
    }
  }

  .logoTitle {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: var(--application-primary-color);

    span {
      color: var(--application-text-color);
    }
  }

  .navbarControls {
    display: grid;
    grid-template-columns: auto 100px;
    column-gap: 25px;
    align-items: center;

    .navbarLinksContainer {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      column-gap: 30px;
      align-items: center;

      .navbarLink {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: var(--application-tertiary-color);

        &.active {
          color: var(--application-primary-color);
        }
      }
    }

    .logoutIcon {
      margin-right: 10px;
    }
  }
}

@include medium-screen {
  .navbarMain {
    padding: 30px;
  }
}

@include mini-screen {
  .navbarMain {
    .desktopNavbar {
      display: none;
    }

    .mobileNavbarContainer {
      display: grid;
    }

    .navbarControls {
      grid-template-columns: auto;
      column-gap: 0;
      grid-template-rows: min-content;
      row-gap: 10px;
      background-color: var(--application-secondary-color);
      padding: 10px 20px 20px 20px;
      border-radius: 10px;

      .navbarLinksContainer {
        grid-auto-flow: row;
        row-gap: 10px;
        width: 100%;

        .navbarLink {
          padding: 10px 0;
        }
      }
    }
  }
}